.cardWidth {
	width: 90%;
	max-width: 400px;
}

.cardHeight {
	height: 500px;
}

.img-height {
	height: 250px;
}

@media (max-width: 470px) {
	.img-height {
		height: 200px;
	}

	.cardHeight {
		height: 450px;
	}
}
