.height {
	height: 650px;
}

.width {
	width: 55%;
}

.img-right,
.img-left {
	background-repeat: no-repeat;
}

.img-right {
	background-size: 30%;
	background-position: 95%;
}

.img-left {
	background-size: 50%;
	background-position: 0 50%;
}

.color {
	color: white;
}

@media (max-width: 768px) {
	.height {
		height: 250px;
		overflow: none;
	}

	.width {
		width: 100%;
	}

	.img-right,
	.img-left {
		background: none !important;
	}

	.color {
		color: #000;
	}
}
