.height {
	height: 700px;
}

.width {
	width: 55%;
}

.img-right,
.img-left {
	background-repeat: no-repeat;
}

.img-right {
	background-size: 30%;
	background-position: 95%;
}

.img-left {
	background-size: 50%;
	background-position: 0 50%;
}

.gray-left {
	background: linear-gradient(
		90deg,
		#38434e 0%,
		#38434e 50%,
		#fff 50%,
		#fff 100%
	);
	color: #fff;
}

.gray-right {
	background: linear-gradient(
		90deg,
		#fff 0%,
		#fff 50%,
		#38434e 50%,
		#38434e 100%
	);
	color: #fff;
}

@media (max-width: 768px) {
	.height {
		height: 300px;
		overflow: none;
	}

	.width {
		width: 100%;
	}

	.img-right,
	.img-left {
		background: none !important;
	}

	.gray-left {
		background: none !important;
		color: #000;
	}

	.gray-right {
		background: #38434e !important;
	}
}
